# .NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Ignore general builds but keep compiled frontend/build/web for Render Static Site
build/
frontend/build/*
!frontend/build/web/
!frontend/build/web/**

# Android
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/GeneratedPluginRegistrant.java
**/android/key.properties
*.keystore

# iOS / macOS
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/Pods/
*.ipa
*.dSYM.zip
*.dSYM

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
*.exe
*.dll

# IDEs and Editors
.idea/
.vscode/
*.swp
*.lock
Thumbs.db
[Dd]esktop.ini
